# Backend
fincontrol-backend/venv/
fincontrol-backend/.env
fincontrol-backend/__pycache__/
fincontrol-backend/**/__pycache__/
fincontrol-backend/*.pyc
fincontrol-backend/db.sqlite3

# Frontend
fincontrol-frontend/node_modules/
fincontrol-frontend/dist/